replicaCount: 2

image:
  repository: 905418283021.dkr.ecr.ap-south-1.amazonaws.com/my-docker-repo
  tag: ""                     # Jenkins dynamically sets this
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources: {}
# Optional resource limits
# resources:
#   requests:
#     cpu: 100m
#     memory: 256Mi
#   limits:
#     cpu: 500m
#     memory: 512Mi

env: []
# Example environment variable:
# env:
#   - name: SPRING_PROFILES_ACTIVE
#     value: "prod"

livenessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  path: /
  port: 5000
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
  hosts:
    - host: aa283450300f34c378409551c76dd51f-262264222.ap-south-1.elb.amazonaws.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  # Example if you enable TLS later:
  # tls:
  #   - secretName: my-java-app-tls
  #     hosts:
  #       - yourdomain.com

